<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Pacifico&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Martel:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">

    <title>Baat-cheet</title>
</head>
<body>
    <div id="first-page">

        <div id="hello">
            <h1>welcome</h1>
            <h2>
                let's do <span>Baat cheet</span>
            </h2>
            <a id="btn" onclick="window.location.href='/login'">let's start</a>
            <!-- <button id="btn" onclick="window.location.href='/login'">let's start</button> -->
        </div>
    </div>

    <!-- <script>
        let btn = document.getElementById("btn")
        btn.addEventListener('click', function (params) {
            location.href = "login.html"
        })
    </script> -->
</body>

</html>