<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="stylesheet" href="/images/logo.png">
    <script src="https://kit.fontawesome.com/8625ac6713.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div id="cir1"></div>
    <div id="cir2"></div>
    <div id="first">

        <form action="/signup" method="post" id="form">
            <label>Username</label>
            <input id="input1" type="text" type="text" placeholder="Enter username" name="username" required>
            <label>Full Name</label>
            <input id="input2" type="text" type="text" placeholder="Enter full name" name="fullName" required>
            <label>Email</label>
            <input id="input3" type="email" type="text" placeholder="Enter email" name="email" required>
            <label>Password</label>
            <div class="pass">
                <input id="input4" type="password" placeholder="Enter password" name="password" required>
                <i id="hide" class="fa-solid fa-eye"></i>
                <i id="show" class="fa-solid fa-eye-slash"></i>
            </div>
            <div id="btn">
                <button type="submit" id="login">Login</button>
                <button id="sign">Creat</button>
            </div>
        </form>
    </div>
    <script src="/javascripts/signup.js"></script>
</body>

</html>