body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color: linear-gradient(to bottom, rgb(0, 225, 255), rgb(177, 175, 175));
    --secondary-color: white;
    --third-color: rgb(0, 225, 255);
    --forth-color: black;
    --fifth-color: rgb(0, 152, 172);
    --seach-f-color: rgba(255, 255, 255, 0.792);

}

.color1 {
    --primary-color: linear-gradient(to bottom, rgb(6, 0, 58), rgb(0, 0, 0));
    --secondary-color: rgb(10, 1, 45);
    --third-color: rgb(0, 4, 255);
    --forth-color: white;
    --fifth-color: rgb(6, 4, 44);
    --seach-f-color: rgba(0, 0, 0, 0.769);
}

#div {
    background-color: red;
    width: auto;
    height: fit-content;
    display: flex;
}

/* ----------------side bar----------- */
#sidebar {
    z-index: 999;
    width: 30%;
    height: 100dvh;
    background: var(--primary-color);
}

#top-nav {
    padding: 0px 10px;
    font-size: clamp(30px, 40px, 40px);
    height: 10%;
    width: auto;
    background-color: var(--secondary-color);
    color: var(--forth-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -5px 0px 20px rgb(0, 91, 189);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.setting {
    /* margin-left: auto; */
    height: fit-content;
    font-size: 30px;
    /* margin-left: 50%; */
    padding: 10px;
}

#top-nav .setting:hover {
    animation: setting 1s ease-in forwards;
}

@keyframes setting {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }

}

#top-nav #ul {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    float: right;
    color: var(--forth-color);
    position: absolute;
    top: 70px;
    margin-left: 20%;
    height: fit-content;
    width: auto;
    z-index: 999;
    background-color: rgb(108, 158, 209, 0.1);
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(20px);
    box-shadow: 2px 0px 30px black;
    overflow: hidden;
    /* opacity: 0; */
}

#ul2 {
    flex-direction: column;
}

#ul,
#ul2 {
    display: none;
}

#dark-btn {

    border-radius: 10px;
    margin: 2px 10px;
    background: transparent;
    width: 90px;
    font-size: 20px;
    height: 40px;
    color: var(--forth-color);
    border: none;
}

#dark-btn:hover {
    transition: 0.5s;
    background-color: var(--fifth-color);
}

#theme-btn,
#log-btn,
#profile-btn {
    border-radius: 10px;
    height: 40px;
    border: none;
    font-size: 25px;
    background: transparent;
    color: var(--forth-color);

}

#theme-btn:hover,
#log-btn:hover,
#profile-btn:hover {
    transition: 0.5s;
    background-color: var(--fifth-color);
}

#user-profile {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-user {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
}

#main-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

#main-user #user-name {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);

}

#masg-req {
    height: 5%;
    margin: 0px 20px;
    justify-content: space-between;
    display: flex;
    color: var(--forth-color);
    cursor: pointer;
}

#sidebar #act-user-box {
    display: flex;
    width: 100%;
    height: 70dvh;
    /* background-color: brown; */

}

/* ----------------------requestbox style------------------ */

#requests {
    height: 100%;
    width: 30%;
    background: var(--primary-color);
    display: none;
    flex-direction: column;
    position: absolute;
}

.friends-req {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

}

.friends-req img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

.pending-req #user-name {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);
}

.pending-req {
    display: flex;
    align-items: center;

}

.req-icon {
    scale: 1.8;
    color: var(--forth-color);
    padding-right: 10px;
}

/* ----------------------massagebox style--------------------- */
#chats {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#display-user {
    display: flex;
    padding: 10px;
    align-items: center;
}

#display-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

#display-user #user-name {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);

}

#input {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    color: var(--forth-color);
    margin-right: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    background: transparent;
    border-color: var(--forth-color);
}

.searched-user {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--forth-color);
}

.searched-user i {
    padding-right: 10px;
    scale: 1.5;
}

#search-friends {
    /* border: black solid; */
    top: 20%;
    position: absolute;
    background: var(--third-color);
    margin-left: 10%;
    width: 20%;
    height: auto;
    border-radius: 10px;
    /* right: 0; */
    display: none;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: -5px 5px 10px rgb(52, 52, 52);
}

.display-user {
    justify-content: space-between;
}

.send-request {
    display: flex;
    align-items: center;

}

.send-request img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background: white;
}

.send-request span {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);
}

/* -----------------chating box----------- */

.cir1 {
    width: 200px;
    height: 200px;
    background: var(--third-color);
    border-bottom-right-radius: 100%;
    filter: blur(100px);
}

.cir2 {
    margin-top: 15%;
    float: right;
    width: 200px;
    height: 200px;
    background: var(--third-color);
    border-top-left-radius: 100%;
    filter: blur(100px);
}

#main-box {
    width: 70%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
}

#head {
    z-index: 999;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--secondary-color);
}

#head i {
    display: none;
}

#head div {
    height: 80%;
    padding: 5px;
    align-items: center;
    display: flex;
}

#head img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

#head span {
    color: var(--forth-color);
    margin-left: 10px;
    font-size: 30px;
}

#msg-box {
    width: 100%;
    height: 84dvh;
}

.massanger {
    padding: 0px 20px;
    margin: 5% 0px;
    top: 0;
    width: 66%;
    height: 83vh;
    position: absolute;
    background-color: transparent;
    overflow: scroll;
}

#incoming-msg {
    display: inline-block;
    max-width: 100%;
    height: fit-content;
}

.massanger .friends-input p {
    background-color: var(--third-color);
    padding: 0px 5px;
    border-radius: 10px;
    width: fit-content;
    max-width: 50%;
    font-size: 20px;
    color: white;
    word-wrap: break-word;

}
#outgoing-msg {
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.massanger .user-input p {
    /* display: inline; */
    float: right;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: auto;
    max-width: 50%;
    color: black;
    word-wrap: break-word;

}

#footer {
    background: var(--secondary-color);
    z-index: 999;
    margin: 0;
    width: 100%;
    height: 6%;
}

#footer input {
    background: transparent;
    margin: 0;
    width: 90%;
    height: 80%;
    border: none;
    font-size: 20px;
    color: var(--forth-color);
}

#footer button {
    width: 8.9%;
    height: 100%;
    border-radius: 20px;
    background: rgb(56, 55, 55);
    color: white;
}


@media (max-width: 1200px) {
    #top-nav {
        padding: 0px 10px;
        font-size: clamp(30px, 40px, 40px);
        height: 8%;
        width: auto;
        background-color: var(--secondary-color);
        color: var(--forth-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: -5px 0px 20px rgb(0, 91, 189);
    }

    #top-nav span {
        font-size: 30px;
    }

    #top-nav #ul {
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        float: right;
        color: var(--forth-color);
        position: absolute;
        top: 80px;
        margin-left: 17.5%;
        box-shadow: -2px 2px 5px rgb(53, 53, 53);
    }

    #footer {
        background: var(--secondary-color);
        z-index: 999;
        margin: 0;
        width: 100%;
        height: 6%;
    }

    #footer input {
        background: transparent;
        margin: 0;
        width: 83.5%;
        height: 80%;
        border: none;
        font-size: 20px;
        color: var(--forth-color);
    }

    #footer button {
        width: 15%;
        height: 100%;
        border-radius: 20px;
        background: rgb(56, 55, 55);
        color: white;
    }
}

@media(max-width: 700px) {
    body {
        margin: 0;
        padding: 0;
    }

    #div {
        background-color: red;
        width: auto;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        height: 100dvh;
    }

    #top-nav {
        align-items: center;
        display: flex;
        padding: 5px 5px;
        font-size: 40px;
        height: 60px;
        width: auto;
        font-family: "Great Vibes", cursive;
        font-weight: 300;
        font-style: normal;
    }

    #top-nav span {
        font-size: 30px;
    }

    #logo img {
        margin-right: 10px;
        width: 40px;
        height: 40px;

    }

    .setting {
        margin-left: auto;
        height: fit-content;
        font-size: 30px;
        /* margin-left: 50%; */
        padding: 0px;
    }

    #top-nav #ul {
        right: 0;
        top: 70px;
        margin-left: 0;
        height: fit-content;
        width: auto;
        box-shadow: none;
        box-shadow: 0px 5px 10px rgb(43, 43, 43);
    }

    #requests {
        height: 74dvh;
        width: 100%;
        /* border: red solid; */
    }

    #chats {
        height: 100%;
    }

    #user-profile {
        display: flex;
        padding-top: 10px;
    }

    #user-profile img {
        width: 50px;
        border-radius: 50%;
    }

    #user-profile #user-name {
        margin-left: 10px;
        font-size: 20px;

    }

    #search-friends {
        /* border: black solid; */
        top: 20%;
        position: absolute;
        background: var(--seach-f-color);
        width: 100%;
        margin-left: 0px;

    }

    /* -------------main div-------------- */
    #main-box {
        z-index: 999;
        width: 100%;
        height: 100dvh;
        background: var(--secondary-color);
        position: fixed;
        display: none;

    }

    #head {
        justify-content: space-between;
        display: flex;
        z-index: 999;
        align-items: center;
        width: 100%;
        height: 8%;
        background-color: var(--primary-color);
    }

    #head i {
        display: flex;
        padding-right: 10px;
        scale: 1.2;
        color: var(--forth-color);
        opacity: 0.5;
    }

    #msg-box-name img {
        width: 35px;
        height: 35px;
    }

    #msg-box-name span {
        font-size: 20px;
    }

    #msg-box {
        height: 86dvh;
    }

    .massanger {
        /* margin: 20px; */
        padding: 0px 20px;
        margin-top: 18%;
        top: 0;
        width: 90%;
        height: 80dvh;
        position: fixed;
        background-color: transparent;
        overflow: scroll;

    }

    #incoming-msg {
        display: inline-block;
        width: 100%;
        max-height: fit-content;
    }

    .massanger .friends-input p {
        background-color: var(--third-color);
        border-radius: 10px;
        width: fit-content;
        max-width: 80%;
        height: 0%;
        font-size: 15px;
        color: white;
        word-wrap: break-word;
        padding: 10px;
        margin: 2px 0px;
    }

    #outgoing-msg {
        display: inline-block;
        max-width: 100%;
        /* margin-right: 10px; */
        max-height: fit-content;

    }

    .massanger .user-input p {
        float: right;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        width: fit-content;
        max-width: 80%;
        height: 0%;
        color: black;
        word-wrap: break-word;
        margin: 2px 0px;

    }

    #footer input {
        margin: 0;
        width: 77%;

    }

    #footer button {
        width: 20%;
        height: 40px;
    }

}