body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color: linear-gradient(to bottom, rgb(0, 225, 255), rgb(177, 175, 175));
    --secondary-color: white;
    --third-color: rgb(0, 225, 255);
    --forth-color: black;
    --fifth-color: rgb(0, 152, 172);
    --sixth-color: rgb(51, 123, 164);
    --seach-f-color: rgba(255, 255, 255, 0.792);
    --seventh-color:white;
    --eight--color:rgb(51, 123, 164);
}

.color1 {
    --primary-color: linear-gradient(to bottom, rgb(6, 0, 58), rgb(0, 0, 0));
    --secondary-color: rgb(10, 1, 45);
    --third-color: rgb(0, 4, 255);
    --forth-color: white;
    --fifth-color: rgb(6, 4, 44);
    --sixth-color: rgb(6, 4, 44);
    --seach-f-color: rgba(0, 0, 0, 0.769);
    --seventh-color:rgb(32, 32, 32);
    --eight--color:rgb(32, 32, 32);

}

#div {
    background-color: red;
    width: auto;
    height: fit-content;
    display: flex;
}

/* ----------------side bar----------- */
#sidebar {
    z-index: 999;
    width: 30%;
    height: 100dvh;
    background: var(--primary-color);
    position: relative;
}

#top-nav {
    z-index: 1;
    padding: 0px 10px;
    font-size: clamp(30px, 40px, 40px);
    height: 10%;
    width: auto;
    background-color: var(--secondary-color);
    color: var(--forth-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -10px 0px 10px rgb(0, 91, 189);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.setting {
    /* margin-left: auto; */
    height: fit-content;
    font-size: 30px;
    /* margin-left: 50%; */
    padding: 10px;
    /* color: black; */
}

#top-nav .setting:hover {
    animation: none;
}

@keyframes setting {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }

}

#top-nav #ul {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    float: right;
    color: var(--forth-color);
    position: absolute;
    top: 10%;
    right: 0;
    height: fit-content;
    width: auto;
    z-index: 999;
    background-color: rgb(108, 158, 209, 0.1);
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(20px);
    box-shadow: 2px 0px 30px black;
    overflow: hidden;
    /* opacity: 0; */
}

#top-nav #ul,
#ul2 {
    display: none;
}

#dark-btn {

    border-radius: 10px;
    margin: 2px 10px;
    background: transparent;
    width: 90px;
    font-size: 20px;
    height: 40px;
    color: var(--forth-color);
    border: none;
}

#dark-btn:hover {
    transition: 0.5s;
    background-color: var(--fifth-color);
}

#theme-btn,
#log-btn,
#profile-btn {
    border-radius: 10px;
    height: 40px;
    border: none;
    font-size: 25px;
    background: transparent;
    color: var(--forth-color);

}

#theme-btn:hover,
#log-btn:hover,
#profile-btn:hover {
    transition: 0.5s;
    background-color: var(--fifth-color);
}

#user-profile {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-user {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
}

#main-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

#main-user #user-name {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);

}

#masg-req {
    height: 5%;
    margin: 0px 20px;
    justify-content: space-between;
    display: flex;
    color: var(--forth-color);
}

#masg-req span {
    cursor: pointer;
}

#sidebar #act-user-box {
    display: flex;
    width: 100%;
    height: 74dvh;
    /* background-color: brown; */

}

/* ----------------------requestbox style------------------ */

#requests {
    /* border: blue solid; */
    height: 75%;
    width: 100%;
    background: var(--primary-color);
    display: none;
    flex-direction: column;
    position: absolute;
}
#requests #sent-recived{
    width:25px;
    height: 25px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: var(--seach-f-color);
    position: absolute;
    border-radius: 50%;
    bottom: 5%;
    right: 10%;
    z-index: 2;
}
/* #requests button{
    width: 20%;
    background: var(--sixth-color);
    color: white;
    border-radius: 10%;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    right: 10%;
    border: none;
    z-index: 999;
} */
#requests #recived{
    position: absolute;
    width: 100%;
    height: 90%;
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#requests #sent{
    flex-direction: column;
    height: 90%;
    /* border: blue solid; */
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    overflow: scroll;

}
#requests h3 {
    color: var(--forth-color);
    text-align: center;
}

.friends-req {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

}

.friends-req img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

.pending-req #user-name {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);
}

.pending-req {
    display: flex;
    align-items: center;

}

.req-icon {
    scale: 1.8;
    color: var(--forth-color);
    padding-right: 10px;
}
#profile-shower{
    display: none;
}
/* ----------------------massagebox style--------------------- */

#chats {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#display-user {
    display: flex;
    padding: 10px;
    align-items: center;
}

#display-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

#display-user #user-name {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);

}

#input {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    color: var(--forth-color);
    margin-right: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    background: transparent;
    border-color: var(--forth-color);
    outline: none;
}

.searched-user {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--forth-color);
}

.searched-user i {
    padding-right: 10px;
    scale: 1.5;
}

#search-friends {
    /* border: black solid; */
    z-index: 999;
    top: 20%;
    position: absolute;
    background: var(--third-color);
    /* margin-left: 10%; */
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* right: 0; */
    display: none;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: -5px 5px 10px rgb(52, 52, 52);
}
#search-friends #following{
    display: none;
}

.display-user {
    justify-content: space-between;
}

.send-request {
    display: flex;
    align-items: center;

}

.send-request img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background: white;
}

.send-request span {
    margin-left: 10px;
    font-size: 25px;
    color: var(--forth-color);
}

#msg-req-search {
    display: none;
}

#mobi-search-box {
    display: none;
}

/* -----------------chating box----------- */

.cir1 {
    width: 200px;
    height: 200px;
    background: var(--third-color);
    border-bottom-right-radius: 100%;
    filter: blur(100px);
}

.cir2 {
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    width: 200px;
    height: 200px;
    background: var(--third-color);
    border-top-left-radius: 100%;
    filter: blur(100px);
}

#default-main-box {
    z-index: 999;
    position: absolute;
    width: 70%;
    height: 100dvh;
    background-color: var(--secondary-color);
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#default-main-box {
    font-size: 40px;
}

#main-box {
    width: 70%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
}

#main-box #head {
    z-index: 2;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--secondary-color);
}

#head i {
    display: none;
}

#head div {
    height: 80%;
    padding: 5px;
    align-items: center;
    display: flex;
}

#head img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
}

#head span {
    color: var(--forth-color);
    margin-left: 10px;
    font-size: 30px;
}

#msg-box {
    width: 100%;
    height: 84dvh;
}

.massanger {
    padding: 0px 20px;
    margin: 5% 0px;
    top: 0;
    width: 66%;
    height: 83vh;
    position: absolute;
    background-color: transparent;
    overflow: scroll;
}

#incoming-msg {
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.massanger .friends-input p {
    margin: 2px;
    background-color: var(--third-color);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    max-width: 50%;
    font-size: 20px;
    color: white;
    word-wrap: break-word;

}

#outgoing-msg {
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.massanger .user-input p {
    /* display: inline; */
    margin: 2px;
    float: right;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: auto;
    max-width: 50%;
    color: black;
    word-wrap: break-word;
}

#message-form {
    position: absolute;
    background: var(--secondary-color);
    z-index: 2;
    margin: 0;
    width: 70%;
    /* height: 10%; */
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background: var(--secondary-color);
}

#message-form input {
    padding: 5px;
    outline: none;
    background: transparent;
    margin: 0;
    width: 80%;
    height: 80%;
    border: none;
    font-size: 25px;
    color: var(--forth-color);
}

#message-form #text-button {
    /* width: 8.7%; */
    /* display: flex; */
    right: 0;
    font-size: 25px;
    border-radius: 20px 0px 0px 0px;
    background: rgb(56, 55, 55);
    color: white;
    padding: 0px 10px;
}

#message-form #icon-send-button {
    display: none;
}

@media (max-width: 1200px) {
    #top-nav {
        padding: 0px 10px;
        font-size: clamp(30px, 40px, 40px);
        height: 10%;
        width: auto;
        background-color: var(--secondary-color);
        color: var(--forth-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: -5px 0px 20px rgb(0, 91, 189);
    }

    #top-nav span {
        font-size: 30px;
    }

    #top-nav #ul {
        display: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        float: right;
        color: var(--forth-color);
        position: absolute;
        top: 80px;
        margin-left: 17.5%;
        box-shadow: -2px 2px 5px rgb(53, 53, 53);
    }

    #message-form {
        background: var(--secondary-color);
        z-index: 999;
        margin: 0;
        width: 70%;
        height: 6%;
        /* border: red solid; */
    }

    #message-form input {
        background: transparent;
        margin: 0;
        width: 100%;
        height: 80%;
        border: none;
        font-size: 20px;
        color: var(--forth-color);
    }

    #message-form #text-button {
        width: 15%;
        height: 100%;
        border-radius: 20px;
        background: rgb(56, 55, 55);
        color: white;
    }
}

@media(max-width: 700px) {
    body {
        margin: 0;
        padding: 0;
        position: relative;
        height: 100dvh;
    }

    #div {
        background-color: red;
        width: auto;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        height: 100dvh;
        position: relative;
        background: var(--seventh-color);
    }

    #top-nav {
        
        align-items: center;
        display: flex;
        padding: 5px 5px;
        font-size: 40px;
        height: 60px;
        width: auto;
        font-family: "Great Vibes", sans-serif;
        font-weight: 300;
        font-style: normal;
        border-radius: 0px 0px 20px 20px;
        background-color: var(--sixth-color);
        box-shadow: none;
        color: white;
    }

    #top-nav span {
        font-size: 30px;
    }

    #logo img {
        margin-right: 10px;
        width: 40px;
        height: 40px;

    }

    .setting {
        margin-left: auto;
        height: fit-content;
        font-size: 30px;
        /* margin-left: 50%; */
        padding: 0px;
        display: none;
    }

    #top-nav #ul {
        right: 0;
        top: 70px;
        bottom:0;
        margin-left: 0;
        height: fit-content;
        width: auto;
        display: none;
        box-shadow: none;
        box-shadow: 0px 5px 10px rgb(43, 43, 43);
    }
    #top-nav i{
        display: none;
    }
    #requests {
        height: 82dvh;
        width: 100%;
        background: none;
        position: fixed;
    }
    #requests #sent-recived{
        background: var(--sixth-color);
        color: white;
        display: flex;
        padding: 10px;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        bottom: 5%;
        right: 10%;
        z-index: 2;
    }
    #requests #recived{
        height: 100%;
    }
    #requests #sent{
        height: 100%;
        position: absolute;
        width: 100%;
    }
    #chats {
        height: 100%;
        flex-direction: column;
    }

    #user-profile {
        display: none;
        padding-top: 10px;
    }

    #user-profile img {
        width: 50px;
        border-radius: 50%;
    }

    #user-profile #user-name {
        margin-left: 10px;
        font-size: 20px;

    }


    #masg-req {
        display: none;
    }

    #sidebar #act-user-box {
        height: 65dvh;
        /* border: red solid; */
    }

    footer #msg-req-search {
        bottom: 0;
        z-index: 999;
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px 20px 0px 0px;
        /* background-color: var(--secondary-color); */
        position: sticky;
        position: absolute;
        background-color: none;
    }

    #msg-req-search #msg-open,
    #req-open,
    #search-open,
    #profile-update {
        width: 25%;
        height: 100%;
        /* margin: ; */
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: white;
    }
    #msg-req-search #msg-open:hover,
    #req-open:hover,
    #search-open:hover,
    #profile-update:hover { 
        color: var(--forth-color);
    }
    #msg-req-search #msg-open::before {
        border-radius: 20px 0px 0px 0px;
    }
    #msg-req-search #profile-update::before {
        border-radius: 0px 20px 0px 0px;
    }

    #msg-req-search #profile-update img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        aspect-ratio: 3/2;
        object-fit: contain;
        background: white;
    }

    #msg-req-search #msg-open::before,
    #req-open::before,
    #search-open::before,
    #profile-update::before {
        content: "";
        /* border-radius: 10px; */
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0px;
        background: var(--sixth-color);
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        transform: scaleX(1);
    }
    #msg-req-search #msg-open:hover::before,
    #req-open:hover::before,
    #search-open:hover::before,
    #profile-update:hover::before {
        color: var(--forth-color);
        transform: scaleX(0.2);

    }
    #msg-req-search i {
        scale: 1.5;
    }

    #msg-req-search i:hover {
        scale: 1.5;
        top: 20px;
    }

    #mobi-search-box {
        top: 0;
        height: 92dvh;
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        background: var(--seventh-color);
    }
    #profile-shower{
        top: 0;
        height: 92dvh;
        width: 100%;
        display: none;
        position: absolute;
        background: var(--seventh-color);
        /* align-items: center;
        flex-direction: column;
        justify-content: start; */
    }
    #profile-shower #naam-or-photo{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20%;
    }
    #profile-shower img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: white;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    #profile-shower span{
        margin-top: 5%;
        color:var(--forth-color);
        height:30px;
        text-align: center;
        font-size: 20px;
        font-style: bold;
    }
    #profile-shower #ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        /* left: zero; */
        bottom:0;
        color: var(--forth-color);
        height: auto;
        width: 100%;
        justify-content: center;
       text-align: center;
        }
        #profile-shower hr{
            width: 50%;
            border:1px solid;
            border-color: var(--forth-color);
        }
        #profile-shower #ul3{
            display: none;
            color: var(--forth-color);
        }
        #profile-shower #dark-btn2 {
            border-radius: 10px;
            background: transparent;
            width: 100%;
            text-align: center;
            font-size: 20px;
            height: 40px;
            color: var(--forth-color);
            border: none;
        }
        
        #profile-shower #dark-btn2:hover {
            transition: 0.5s;
            background-color: var(--fifth-color);
        }

        #profile-shower
        #theme-btn2,
        #log-btn,
        #profile-btn {
            text-align: center;
            width: 100%;
            border-radius: 10px;
            height: 40px;
            border: none;
            font-size: 25px;
            background: transparent;
            color: var(--forth-color);
        
        }
        #profile-shower #log-btn{
            color: red;
        }
        #profile-shower
        #theme-btn2:hover,
        #log-btn:hover,
        #profile-btn:hover {
            transition: 0.5s;
            background-color: var(--fifth-color);
        }
    #msg-req-search #red-dot{
        background: red;
        width: 20px;
        height: 20px;
        border-radius:50% ;
        position: absolute;
        top: 0;
        left: 10%;
        /* margin-left: 2%; */
    }
    #mobi-search-box input {
        background: transparent;
        padding: 5px;
        font-size: 20px;
        height: 30px;
        width: 80%;
        border: 1px solid;
        border-color: var(--forth-color);
        border-radius: 20dvh;
        margin: 20px;
        color: var(--forth-color);
        outline: none;
    }

    #mobi-request-shower {
        height: 70dvh;
        overflow: scroll;
    }

    #search-friends {
        /* border: black solid; */
        top: 0;
        width: 100%;
        margin-left: 0px;
        display: flex;
        background: none;
        box-shadow: none;
        position: relative;
    }
    #search-friends #mobi-following{
        display: none;
    }
    /* -------------main div-------------- */
    .cir2, .cir1{

        background: var(--eight--color);
    }
    #default-main-box {
        display: none;
    }

    #main-box {
        z-index: 999;
        width: 100%;
        height: 100dvh;
        background: var(--secondary-color);
        position: fixed;
        display: none;

    }

    #head {
        justify-content: space-between;
        display: flex;
        z-index: 999;
        align-items: center;
        width: 100%;
        height: 7%;
        background-color: var(--sixth-color);
        border-radius: 0px 0px 20px 20px;
        padding: 0px 20px;
    }

    #head i {
        display: flex;
        padding-right: 40px;
        scale: 1.2;
        color: var(--forth-color);
        opacity: 0.8;
    }

    #msg-box-name img {
        width: 35px;
        height: 35px;
    }

    #msg-box-name span {
        font-size: 20px;
    }

    #msg-box {
        height: 86dvh;
    }

    .massanger {
        /* margin: 20px; */
        padding: 0px 20px;
        margin-top: 18%;
        top: 0;
        width: 90%;
        height: 85dvh;
        position: fixed;
        background-color: transparent;
        overflow: scroll;

    }

    #incoming-msg {
        display: inline-block;
        width: 100%;
        max-height: fit-content;
    }

    .massanger .friends-input p {
        background-color: var(--eight--color);
        border-radius: 10px;
        width: fit-content;
        max-width: 80%;
        height: 0%;
        font-size: 15px;
        color: white;
        word-wrap: break-word;
        padding: 10px;
        margin: 2px 0px;
    }

    #outgoing-msg {
        display: inline-block;
        max-width: 100%;
        /* margin-right: 10px; */
        max-height: fit-content;

    }

    .massanger .user-input p {
        float: right;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        width: fit-content;
        max-width: 80%;
        height: 0%;
        color: black;
        word-wrap: break-word;
        margin: 2px 0px;
    }

    #message-form {
        /* border: red solid; */
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px 20px 0px 0px;
        background: var(--seventh-color);
    }

    #message-form input {
        margin: 0;
        width: 80%;
        outline: none;
    }

    #message-form #text-button {
        display: none;
    }

    /* #message-form #icon-send-button {
        display: flex;
        right: 0;
        float: right;
        scale: 1.2;
        padding: none;
        margin-right: 20px;
        align-items: center;
        background: var(--seventh-color);
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: var(--forth-color);
    } */
    #message-form #icon-send-button{
        display: flex;
        scale: 2;
        margin-right: 20px;
        background-color: var(--eight-color);
        border-radius: 50%;   

    }
    #message-form #icon-send-button button{
        border: none;
border-radius: 50%;   
 }

}